.my-query-banner{
    background-image: url("../../assets/profile-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.my-query-banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.8) none repeat scroll 0 0;

}
